* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: black;
    color: white;
}

header {
    display: fixed;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    height: 8rem;
}

#navbar-name {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 2rem;
    list-style: none;
}

.navbar-container {
    background-color: black;
    /* padding: 1rem; */
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-links {
    margin-right: .5rem;
    margin-left: .5rem;
    padding: .5rem;
}

.nav-links:hover {
    background-color: #00bbff;
    border-radius: 5px;
}

a {
    color: #dadfe8;
    cursor: pointer;
    text-decoration: none;
}

span {
    color: #00bbff;
}

.image-container {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

img {
    display: block;
    border-radius: 5px;
    height: 20rem;
}

.name-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#header-text {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-form {
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding: 2rem;
    margin-right: 2rem;
    margin-left: 2em;
    border-radius: 5px;
    height: 20rem;
    gap: 2rem;
}

#contact-me {
    margin-top: 2rem;
}

.submit-btn {
    border-radius: 5px;
    padding: 1rem;
    width: 10rem;
    background-color: #00bbff;
    color: white;
    border: none;
    margin-bottom: 2rem;
    cursor: pointer;

}

.submit-btn:hover {
    opacity: 75%;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 75ms;
    transform: scale(.90);


}

input {
    width: 50vw;
    padding: 1rem;

}

.footer {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    padding: 2.5rem;
    border-top: 1px solid grey;
}

#footer-name {
    margin-top: 1rem;
}

@media (min-width: 1200px) {
    #header-text {
        width: 30%;
    }
}